.arrowleft {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 40px;

  background-image: url(./greyleftarrow.png);
}


.arrowright {
	width: 35px;
  height: 40px;
  display: inline-block;
  position: relative;

  background-image: url(./greyleftarrow.png);
}

