.modal {
  background: rgba(0,0,0,0.65);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:5;
  padding:20px;
}

.modalBox {
  color: red;
  background-color: #fff;
  border-radius: 5px;
  min-width: 98%;
  min-height: 602px;
  position: relative;
}

.closeModal {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgba(0,0,0,0.8);;
  position: absolute;
  top: 1.5%;
  right: 5%;
}

.userBox {
	font-size: 14px;
  line-height: 1.28571em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  position: absolute;
  right: 0;
  width: 23%;
  height: 100%;
  border-radius: 5px;
}

.photoBox {
  background-color: black;
  position: absolute;
  width: 77%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 5px 0px 0px 5px;
}

.image {
  width: 90.5%;
  height: 602px;
}