.header {
	display:block;
	height:200px;
	padding-top: 30px;
}

.container {
	height:220px;
	align-content: center;
	position: relative;
}

.span {
	display: none;
}

.image {
	width:220px;
	height:220px;
	transition: all .15s ease-in-out;
}

.image:hover {
	z-index: 1;
	position: relative;
	transform: scale(1.1);
}

.largeImage {
	width:250px;
	height:250px;
	z-index: 1;
	position: relative;
}

.test {
	padding-top: 15px;
	display: flex;
  flex-direction: column;
}

