.description {
  color: rgba(225,225,225,0.9);
  font-weight: normal;
  display:block;
	flex-wrap: wrap;
	align-content: center;
	white-space: nowrap;
  font-size: 85%;
  padding-left: 2px;
}

.avatar {
	padding-left: 5px;
	width: 25px;
	height: 40px;
	padding-right: 3px;
}

.spanHide {
	-webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;  /* IE */
	z-index: 2;
	font-size:90%;
	width:243px;
	bottom: -11px;
	right: 0;
	left: -11px;
	height:50px;
	overflow: hidden;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  color: #fff;
  background: rgba(0,0,0,0.5);
  display: flex;
  flex-wrap: wrap;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.spanShow {
	-webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;  /* IE */
	z-index: 2;
	font-size:90%;
	width:243px;
	bottom: -11px;
	right: 0;
	left: -11px;
	height:50px;
	overflow: hidden;
  position: absolute;
  visibility: visible;
  opacity: 1;
  color: #fff;
  background: rgba(0,0,0,0.5);
  display: flex;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  pointer-events: none;
}

.photoContainer {
	position: relative;
	width:220px;
	height:220px;
}

.image {
	width:220px;
	height:220px;
	transition: all .15s ease-in-out;
	cursor: pointer;
	z-index: 1;
	-webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;  /* IE */
}

.imageAfter {
	width:220px;
	height:220px;
	transition: all .15s ease-in-out;
	cursor: pointer;
	position: relative;
	transform: scale(1.1);
	z-index: 1;
	-webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.avatarContainer {
	display: flex;
  justify-content: center;
  align-items: center;
}

.captionContainer {
	display: flex;
  align-items:flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}